.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
}

/*header*/
.header {
    grid-column: 1 / 3;
}

.page-header {
    text-align: center;
    padding-top:10px;
    font-size: 6em;
    background-color: white;
    color: darkslategrey;
}

/*background*/
.baner-div {
    background-color:darkslategrey;
    color: white;
}
.projects-description {
    text-align: center;
}

.contact-wrapper {
    margin-left:15%;
}

.picture-willy {
    width: 100px;
    margin: 20px;
    border-radius: 30%;
    display: inline-block;
}

.contact-div {
    display:inline-block;
    font-size: 1.3em;
    vertical-align: middle;
}

.my-bio-div {
    display: inline-block;
    vertical-align: middle;
    padding: 2em;
    width: 70%;
}

/*skills*/
.aside {
    background-color:darkslategrey;
    color: white;
    margin: 2em;
    padding: 2em;
}

/*video*/
.my-video {
    display:flex;
    width: fit-content;
    margin: 2em
}

/*projects cards*/
.project-cards {
    width: 80%;
    margin: 2em;
    color: darkslategrey;
    border-style:solid;
    border-color: darkslategrey;
}

.my-card-header {
    background-color: darkslategray;
    padding: .5em;
    color: white;
}

.my-card-text {
    margin: 2em;
}

.my-button {
    margin-left: 2em;
    margin-bottom: 2em;
    background: darkslategray;
    color:white;
}

/*footer*/
.footer {
    background-color:darkslategrey;
    color: white;
    padding: 0.5em;
    grid-column: 1 / 3;
}